<h1>GL Accounts</h1>

<table>
  <% @gl_accounts.each do |gl_account| %>
    <tr>
      <td style="padding: 0px 20px 10px 0px"><%= gl_account.number %>: <%= gl_account.name %></td>
      <td><%= gl_account.gl_type %> </td>
      <td style="padding: 0px 0px 10px 10px;"><%= button_to "Edit/Delete", gl_account, method: :get %></td>
    </tr>
  <% end %>
</table>

<div style="margin-top: 20px">
  <%= button_to "Create new account", new_gl_account_path, :method => "get" %>
</div>

<div style="margin-top: 20px">
  <%= button_to "Back to Home", root_path, :method => "get" %>
</div>


