<h1>GL Account</h1>
<%= form_with model: @gl_account do |form| %>
  <div>
    <%= form.label "Name:" %><br>
    <%= form.text_field :name %>
  </div>
    <br>
  <div>
    <%= form.label "Number" %><br>
    <%= form.text_field :number %>
  </div>
    <br>
  <div>
    <%= form.label "Type:" %><br>
    <%= form.text_field :gl_type %>
  </div>
    <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= button_to "Delete", @gl_account, method: :delete, form: { data: { turbo_confirm: "Are you sure?"}}%>
<br>
<%= button_to "Cancel", gl_accounts_path, :method => "get" %>