<h1>Transactions</h1>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
        <h3>Transaction Number: <%= transaction.id%> <%= link_to "Edit/Delete", transaction%></h3>
        <p>Date: <%= transaction.date %></p>
        <p>Amount: $<%= transaction.amount %></p>
        <p>Descriotion: <%= transaction.description %></p>
        <p>Notes: <%= transaction.notes %></p>
        <%= render transaction.gl_account%></p>
        
    </li>
  <% end %>
</ul>
<br>
<p><%= button_to "Create new transaction", new_transaction_path, :method => "get"%></p>
<p><%= button_to "Back to Home", root_path, :method => "get" %></p>