<h1>Transactions</h1>
<h2>Import Transactions</h2>
<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Transactions"%>
<% end %>
<p><%= button_to "Create new transaction", new_transaction_path, :method => "get"%></p>
<p><%= button_to "Back to Home", root_path, :method => "get" %></p>
<br>
<table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Notes</th>
      <th>GL Account</th>
      <th>Edit/Delete</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td style="padding:50px;">Transaction Number: <%= transaction.id%></td>
        <td style="padding:50px;">Date: <%= transaction.date %></td>
        <td style="padding:50px;">Amount: $<%= transaction.amount %></td>
        <td style="padding:50px">Description: <%= transaction.description %></td>
        <td style="padding:50px;">Notes: <%= transaction.notes %></td>
        <td style="padding:50px;"><%= render transaction.gl_account%></td>
        <td style="padding:50px;"><%= link_to "Edit/Delete", transaction%></td>
      </tr>
    <% end %>
</table>
<br>

