<h1 clas>Transactions</h1>
<h2>Import Transactions</h2>
<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Transactions"%>
<% end %>
<br>
<table>
  <tr>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "Create New Transaction", new_transaction_path, :method => "get"%></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "Delete All Transactions", delete_all_transactions_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?"}}%></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "View Income Transactions", income_transactions_path, :method => "get"%></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "View Expense Transactions", expense_transactions_path, :method => "get"%></td>
    <td style="padding: 10px 10px 0px 0px"><button><a href="/transactions/export.csv" style="text-decoration: none; color: black;">Export CSV</a></button></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "Back To Home", root_path, :method => "get" %></td>
  </tr>
</table>
<br>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">&nbsp;Date</div>
<div class="divTableCell">&nbsp;Amount</div>
<div class="divTableCell">&nbsp;Description</div>
<div class="divTableCell">&nbsp;Notes</div>
<div class="divTableCell">&nbsp;GL Account</div>
<div class="divTableCell">&nbsp;Edit/Delete</div>
</div>
<% @transactions.each do |transaction| %>
  <div class="divTableRow">

    <div class="divTableCell" style="width: 85px;">&nbsp;
      <%= transaction.date %>
    </div>

    <div class="divTableCell">&nbsp;
      $<%= transaction.amount %>
    </div>

    <div class="divTableCell" style="text-align: left;">&nbsp;
      <%= transaction.description %>
    </div>

    <div class="divTableCell">&nbsp;
      <%= transaction.notes %>
    </div>

    <div class="divTableCell">&nbsp;
      <%= form_with model: @transaction, data: { turbo_frame: transaction } do |form| %>
        <%=turbo_frame_tag transaction do %>
          <% gl = transaction.gl_account.number.to_s + ": " + transaction.gl_account.name %>
          <%= link_to gl, transaction_path(transaction) %>
        <% end %>
      <% end %>
    </div>

     <div class="divTableCell">&nbsp;
      <%= button_to "Edit/Delete", transaction_path(transaction), method: :get %>
    </div>
  </div>
<% end %>
</div>
</div>
<br>
<button><a href="#top" style="text-decoration: none; color: black;">Back to top of page</a></button>
