<h1>Transactions</h1>
<h2>Import Transactions</h2>
<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Transactions"%>
<% end %>
<br>
<table>
  <tr>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "Create New Transaction", new_transaction_path, :method => "get"%></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "View Income Transactions ", income_transactions_path, :method => "get"%></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "View Expense Transactions ", expense_transactions_path, :method => "get"%></td>
    <td style="padding: 10px 10px 0px 0px"><%= button_to "Back To Home", root_path, :method => "get" %></td>
  </tr>
</table>

<br>
<table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Notes</th>
      <th>GL Account</th>
      <th>Edit/Delete</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td style="padding:50px;">Transaction Number: <%= transaction.id%></td>
        <td style="padding:50px;">Date: <%= transaction.date %></td>
        <td style="padding:50px;">Amount: $<%= transaction.amount %></td>
        <td style="padding:50px">Description: <%= transaction.description %></td>
        <td style="padding:50px;">Notes: <%= transaction.notes %></td>
        <td style="padding:50px;"><%= render transaction.gl_account%></td>
        <td style="padding:50px;"><%= link_to "Edit/Delete", transaction%></td>
      </tr>
    <% end %>
</table>
<br>

