<h1>Edit Transaction</h1>
<%= turbo_frame_tag @transaction, class: "inline-edit" do %>
    <%= form_with model: @transaction do |form| %>
        <div class="inline-action">
            <%= form.label "Date:" %><br>
            <%= form.date_select :date, start_year: 2020, end_year: Time.now.year %>
        </div>
    <br>
    <div class="inline-action">
        <%= form.label "Amount:"%><br>
        <%= form.number_field :amount%>
    </div>
    <br>
    <div class="inline-action">
        <%= form.label "Description:"%><br>
        <%= form.text_area :description%>
    </div>
    <br>
    <div class="inline-action">
        <%= form.label "Notes:"%><br>
        <%= form.select :notes, options_for_select([ "", "Need to request", "Requested", "Paid" ], "") %>
    </div>
    <br>
    <div>
        <%= form.label "GL Account:"%><br>
        <%= form.collection_select(:gl_account_id, GlAccount.all, :id, :name) %>
        <div class="inline-update">
            <p><%= form.submit "Update" %> <button><%= link_to "Cancel", transactions_path, style: "text-decoration: none; color: black;" %></button></p>
        </div>
    </div>
    <% end %>
<% end %>
<br>
<p class="inline-action"><%= button_to "Delete", @gl_account, method: :delete, form: { data: { turbo_confirm: "Are you sure?"}}%></p>
<p class="inline-action"><%= button_to "Cancel", transactions_path, :method => "get"%></p>
