<h1>Edit Transaction</h1>
    <%= form_with model: @transaction do |form| %>
        <div>
            <%= form.label "Date:" %><br>
            <%= form.date_select :date, start_year: 2020, end_year: Time.now.year %>
        </div>
        <br>
        <div>
            <%= form.label "Amount:"%><br>
            <%= form.number_field :amount%>
        </div>
        <br>
        <div>
            <%= form.label "Description:"%><br>
            <%= form.text_area :description%>
        </div>
        <br>
        <div>
            <%= form.label "Notes:"%><br>
            <%= form.select :notes, options_for_select([ "", "Need to request", "Requested", "Paid" ], @transaction.notes) %>
        </div>
        <br>
        <div>
            <%= form.label "GL Account:"%><br>
             <%= form.collection_select(:gl_account_id, GlAccount.all, :id, :name) %>
        </div>
        <br>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
    <br>
    <table>
        <tr>
            <th style="padding: 0 5px 0 0;"><%= button_to "Delete", @gl_account, method: :delete, form: { data: { turbo_confirm: "Are you sure?"}}%></th>
            <th style="padding: 0 5px 0 5px;"><%= button_to "Cancel", transactions_path, :method => "get"%></th>
            <th style="padding: 0 5px 0 5px;"><%= button_to "View Transactions (Zelle)", transactions_notes_transactions_path, :method => "get"%></th>
        </tr>
    </table>
    

